/* dtkInspector.qss --- 
;; 
;; Author: Julien Wintz
;; Copyright (C) 2008 - Julien Wintz, Inria.
;; Created: Mon Mar 15 09:01:08 2010 (+0100)
;; Version: $Id$
;; Last-Updated: Fri May 28 14:54:21 2010 (+0200)
;;           By: Julien Wintz
;;     Update #: 13
*/

/* Commentary: 
;; 
*/

/* Change log:
;; 
*/

